.icon-print-wrapper {
  left: 0;
  position: absolute;
  top: 0;
}

.icon-print-wrapper.icon-receipt-2 {
  height: 20px;
  width: 20px;
}

.icon-print-wrapper.icon-tick {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-loyalty {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-payment {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-required {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-question-mark {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-variant {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-products {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-information {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-pound {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-view {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-import {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-triangle {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-register {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-image {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-australia {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-united-kingdom {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-euro-light {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-point-of-sale-2 {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-user {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-delete {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-sell {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-dollar {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-arrow-left {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-inventory {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-add {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-edit {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-discount {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-notification {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-setup {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-menu {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-icon-park-solid-success {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-download {
  height: 16px;
  width: 16px;
}

.icon-print-wrapper.icon-delivery-2 {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-warehouse {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-chevron-up {
  height: 16px;
  width: 16px;
}

.icon-print-wrapper.icon-categories {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-decrease {
  height: 14px;
  width: 14px;
}

.icon-print-wrapper.icon-united-states {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-pause {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-filter {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-manage {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-receipt-1 {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-afghani {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-minus {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-stores {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-dashboard {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-date {
  height: 18px;
  width: 18px;
}

.icon-print-wrapper.icon-delivery-1 {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-export-2 {
  height: 18px;
  width: 18px;
}

.icon-print-wrapper.icon-retrieve {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-increase {
  height: 14px;
  width: 14px;
}

.icon-print-wrapper.icon-people {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-reports {
  height: 32px;
  width: 32px;
}

.icon-print-wrapper.icon-sub-category {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-naira {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-nigeria-flag {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-stock-transfer {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-calculator {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-user-management {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-returns {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-chevron-down {
  height: 16px;
  width: 16px;
}

.icon-print-wrapper.icon-clock {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-payment-card {
  height: 20px;
  width: 20px;
}

.icon-print-wrapper.icon-euro-thick {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-cash {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-dots {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-print {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-settings {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-search {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-hand-click {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-dinar {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-percentage {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-password-2 {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-excel {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-sales {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-point-of-sale-1 {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-password {
  height: 16px;
  width: 16px;
}

.icon-print-wrapper.icon-shop {
  height: 20px;
  width: 20px;
}

.icon-print-wrapper.icon-export {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-clear {
  height: 24px;
  width: 24px;
}

.icon-print-wrapper.icon-cancel {
  height: 24px;
  width: 24px;
}
