.coin-bitcoin {
  aspect-ratio: 1;
  height: 120px;
  left: 11059px;
  position: relative;
  top: 1611px;
  width: 120px;
}

.coin-bitcoin .overlap-group-12 {
  height: 120px;
  position: relative;
}

.coin-bitcoin .coin-mask-wrapper {
  background-image: url(../../../static/img/coin.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
}

.coin-bitcoin .img-8 {
  height: 120px;
  left: 0;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  width: 120px;
}

.coin-bitcoin .icon-2 {
  background-image: url(../../../static/img/icon-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
}
