.div-wrapper {
  background-color: var(--tokens-primary-button);
  display: block;
  height: 852px;
  width: 1440px;
}

.div-wrapper .frame-189 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
  left: 614px;
  position: relative;
  top: 381px;
}

.div-wrapper .logo-33 {
  aspect-ratio: 4.44 !important;
  display: flex !important;
  gap: 12.09px !important;
  height: 48px !important;
  left: unset !important;
  top: unset !important;
  width: 213px !important;
}

.div-wrapper .logo-34 {
  border-radius: 5.69px !important;
  gap: 11.38px !important;
  height: 48.37px !important;
  margin-bottom: -0.18px !important;
  margin-top: -0.18px !important;
  padding: 5.69px !important;
  width: 48.37px !important;
}

.div-wrapper .logo-35 {
  height: 25.09px !important;
  width: 31.59px !important;
}

.div-wrapper .logo-36 {
  font-size: 48.4px !important;
  letter-spacing: 1.45px !important;
  line-height: 48.4px !important;
  margin-right: -1.46px !important;
  margin-top: -1.51px !important;
}

.div-wrapper .frame-190 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.div-wrapper .rectangle-38 {
  background-color: var(--tokens-white-duplicate);
  flex: 1;
  flex-grow: 1;
  height: 10px;
  position: relative;
}

.div-wrapper .rectangle-39 {
  background-color: #cfd1d380;
  flex: 1;
  flex-grow: 1;
  height: 10px;
  position: relative;
}
