.loading-screen-wrapper {
  background-color: var(--tokens-primary-button);
  display: block;
  height: 852px;
  width: 1440px;
}

.loading-screen-wrapper .frame-187 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
  left: 614px;
  position: relative;
  top: 381px;
}

.loading-screen-wrapper .logo-29 {
  aspect-ratio: 4.44 !important;
  display: flex !important;
  gap: 12.09px !important;
  height: 48px !important;
  left: unset !important;
  top: unset !important;
  width: 213px !important;
}

.loading-screen-wrapper .logo-30 {
  border-radius: 5.69px !important;
  gap: 11.38px !important;
  height: 48.37px !important;
  margin-bottom: -0.18px !important;
  margin-top: -0.18px !important;
  padding: 5.69px !important;
  width: 48.37px !important;
}

.loading-screen-wrapper .logo-31 {
  height: 25.09px !important;
  width: 31.59px !important;
}

.loading-screen-wrapper .logo-32 {
  font-size: 48.4px !important;
  letter-spacing: 1.45px !important;
  line-height: 48.4px !important;
  margin-right: -1.46px !important;
  margin-top: -1.51px !important;
}

.loading-screen-wrapper .frame-188 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.loading-screen-wrapper .rectangle-37 {
  background-color: var(--tokens-white-duplicate);
  flex: 1;
  flex-grow: 1;
  height: 10px;
  position: relative;
}
