.statusbars-time {
  border-radius: 24px;
  left: 32px;
  position: relative;
}

.statusbars-time .SF-symbol-shareplay {
  height: 11px;
  left: 7px;
  position: absolute;
  top: 3px;
  width: 10px;
}

.statusbars-time .time {
  font-family: var(--body-bold-font-family);
  font-size: var(--body-bold-font-size);
  font-style: var(--body-bold-font-style);
  font-weight: var(--body-bold-font-weight);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.statusbars-time .SF-symbol-bed-double {
  height: 11.18px;
  position: relative;
  width: 16.52px;
}

.statusbars-time.type-share-play {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 2px 12px;
  width: 66px;
}

.statusbars-time.type-default {
  height: 21px;
  width: 54px;
}

.statusbars-time.type-green {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 2px 12px;
  width: 66px;
}

.statusbars-time.type-focus {
  align-items: center;
  display: inline-flex;
  gap: 7px;
}

.statusbars-time.type-voice-mail {
  align-items: center;
  background-color: #404040;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 2px 12px;
  top: 694px;
  width: 66px;
}

.statusbars-time.type-blue {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 2px 12px;
  width: 66px;
}

.statusbars-time.type-orange {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 2px 12px;
  width: 66px;
}

.statusbars-time.dark-mode-true.type-focus {
  top: 416px;
}

.statusbars-time.dark-mode-false.type-share-play {
  background-color: var(--defaultsystemgreenlight);
  top: 307px;
}

.statusbars-time.dark-mode-false.type-green {
  background-color: var(--defaultsystemgreenlight);
  top: 139px;
}

.statusbars-time.dark-mode-false.type-default {
  top: 32px;
}

.statusbars-time.dark-mode-true.type-default {
  top: 363px;
}

.statusbars-time.type-blue.dark-mode-true {
  background-color: var(--defaultsystembluedark);
  top: 526px;
}

.statusbars-time.dark-mode-false.type-focus {
  top: 85px;
}

.statusbars-time.type-blue.dark-mode-false {
  background-color: var(--defaultsystembluelight);
  top: 195px;
}

.statusbars-time.dark-mode-false.type-orange {
  background-color: var(--defaultsystemorangelight);
  top: 251px;
}

.statusbars-time.dark-mode-true.type-green {
  background-color: var(--defaultsystemgreendark);
  top: 470px;
}

.statusbars-time.dark-mode-true.type-share-play {
  background-color: #30d158;
  top: 638px;
}

.statusbars-time.type-orange.dark-mode-true {
  background-color: var(--defaultsystemorangedark);
  top: 582px;
}

.statusbars-time.type-share-play .time-3 {
  height: 20px;
  position: relative;
  width: 27px;
}

.statusbars-time.type-default .time-3 {
  font-family: var(--body-bold-font-family);
  font-size: var(--body-bold-font-size);
  font-style: var(--body-bold-font-style);
  font-weight: var(--body-bold-font-weight);
  left: 0;
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 54px;
}

.statusbars-time.type-green .time-3 {
  color: var(--label-colordarkprimary);
  font-family: var(--subheadline-bold-font-family);
  font-size: var(--subheadline-bold-font-size);
  font-style: var(--subheadline-bold-font-style);
  font-weight: var(--subheadline-bold-font-weight);
  letter-spacing: var(--subheadline-bold-letter-spacing);
  line-height: var(--subheadline-bold-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.statusbars-time.type-focus .time-3 {
  position: relative;
  width: fit-content;
}

.statusbars-time.type-voice-mail .time-3 {
  height: 20px;
  position: relative;
  width: 27px;
}

.statusbars-time.type-blue .time-3 {
  color: var(--label-colordarkprimary);
  font-family: var(--subheadline-bold-font-family);
  font-size: var(--subheadline-bold-font-size);
  font-style: var(--subheadline-bold-font-style);
  font-weight: var(--subheadline-bold-font-weight);
  letter-spacing: var(--subheadline-bold-letter-spacing);
  line-height: var(--subheadline-bold-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.statusbars-time.type-orange .time-3 {
  color: var(--label-colordarkprimary);
  font-family: var(--subheadline-bold-font-family);
  font-size: var(--subheadline-bold-font-size);
  font-style: var(--subheadline-bold-font-style);
  font-weight: var(--subheadline-bold-font-weight);
  letter-spacing: var(--subheadline-bold-letter-spacing);
  line-height: var(--subheadline-bold-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.statusbars-time.dark-mode-false.type-default .time-3 {
  color: var(--label-colorlightprimary);
  top: 1px;
}

.statusbars-time.dark-mode-true.type-default .time-3 {
  color: var(--label-colordarkprimary);
  top: 0;
}

.statusbars-time.type-share-play .overlap-group-47 {
  background-image: url(/img/sf-symbol-shareplay.png);
  background-size: 100% 100%;
  height: 14px;
  left: 2px;
  position: relative;
  top: 3px;
  width: 24px;
}

.statusbars-time.type-default .overlap-group-47 {
  height: 14px;
  left: 2px;
  position: relative;
  top: 3px;
}

.statusbars-time.type-green .overlap-group-47 {
  height: 14px;
  left: 2px;
  position: relative;
  top: 3px;
}

.statusbars-time.type-focus .overlap-group-47 {
  height: 14px;
  left: 2px;
  position: relative;
  top: 3px;
}

.statusbars-time.type-voice-mail .overlap-group-47 {
  color: #ffffff;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 13px;
  left: 0;
  letter-spacing: 0.06px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
}

.statusbars-time.type-blue .overlap-group-47 {
  height: 14px;
  left: 2px;
  position: relative;
  top: 3px;
}

.statusbars-time.type-orange .overlap-group-47 {
  height: 14px;
  left: 2px;
  position: relative;
  top: 3px;
}

.statusbars-time.dark-mode-true .time {
  color: #ffffff;
}

.statusbars-time.dark-mode-false .time {
  color: var(--label-colorlightprimary);
}
