.escrow-icons {
  left: 0;
  position: absolute;
  top: 0;
}

.escrow-icons.icon-0-progress-2 {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-tick {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-activity {
  height: 20px;
  width: 20px;
}

.escrow-icons.icon-0-cancelled-2 {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-arrow-up {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-loading-03 {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-overview {
  height: 20px;
  width: 20px;
}

.escrow-icons.icon-0-pending {
  height: 16px;
  width: 16px;
}

.escrow-icons.icon-0-download {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-chevron-up {
  height: 16px;
  width: 16px;
}

.escrow-icons.icon-0-inbox {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-apple {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-completed-1 {
  height: 16px;
  width: 16px;
}

.escrow-icons.icon-0-rocket {
  height: 16px;
  width: 16px;
}

.escrow-icons.icon-0-upload {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-chevron-down {
  height: 16px;
  width: 16px;
}

.escrow-icons.icon-0-password-view {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-home {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-shopping-bag {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-calender {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-arrow-head {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-more {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-deal {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-dot-2 {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-filter {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-completed-2 {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-export {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-image {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-help {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-loading-02 {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-delete {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-cancelled-1 {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-progress-1 {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-search {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-settings {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-dashboard {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-cancel {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-password-hide {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-success {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-copy {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-google {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-dollar {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-dot {
  height: 15px;
  width: 15px;
}

.escrow-icons.icon-0-PDF {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-swap-2 {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-notification {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-share {
  height: 24px;
  width: 24px;
}

.escrow-icons.icon-0-swap {
  height: 16px;
  width: 16px;
}
