.icon-menu-wrapper {
  left: 0;
  position: absolute;
  top: 0;
}

.icon-menu-wrapper.icon-1-user-friendly-interface {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-people {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-menu {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-tick {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-youtube-filled {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-facebook-2 {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-required {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-sub-category {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-optimization {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-naira {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-icon-park-solid-success {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-nigeria-flag {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-stock-transfer {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-conversion {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-excel {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-mdi-chevron-down {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-mingcute-currency-nigeria-2-line {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-variant {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-categories {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-warehouse {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-products {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-chevron-up {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-sales {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-facebook-1 {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-information {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-user-management {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-integration {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-password {
  height: 16px;
  width: 16px;
}

.icon-menu-wrapper.icon-1-view {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-import {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-image {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-filter {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-youtube-outline {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-export {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-reporting {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-delete {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-sell {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-search {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-settings {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-dashboard {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-cancel {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-stores {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-hand-click {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-arrow-left {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-dot {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-inventory {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-point-of-sale {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-add {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-edit {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-geo-fencing {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-notification {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-twitter {
  height: 14px;
  width: 14px;
}

.icon-menu-wrapper.icon-1-instagram {
  height: 24px;
  width: 24px;
}

.icon-menu-wrapper.icon-1-percentage {
  height: 24px;
  width: 24px;
}
